# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
Bridges/COM_2013.zip
Bridges/CoM_CMAP_201303.dbf
Bridges/CoM_CMAP_201303.prj
Bridges/CoM_CMAP_201303.shp
Bridges/CoM_CMAP_201303.shp.xml
Bridges/CoM_CMAP_201303.shx
Bridges/NBIIL1992.txt
Bridges/NBIIL2017.txt
Bridges/NBIIL2016.txt
Bridges/NBIIL2015.txt
Bridges/NBIIL2014.txt
Bridges/NBIIL2013.txt
Bridges/NBIIL2012.txt
Bridges/NBIIL2018.txt
Bridges/NBIIL2011.txt
Bridges/NBIIL2010.txt
Bridges/NBIIL2009.txt
Bridges/NBIIL2008.txt
Bridges/NBIIL2007.txt
Bridges/NBIIL2006.txt
Bridges/NBIIL2005.txt
Bridges/NBIIL2004.txt
Bridges/NBIIL2003.txt
Bridges/NBIIL1993.txt
Bridges/NBIIL1994.txt
Bridges/NBIIL1995.txt
Bridges/NBIIL1996.txt
Bridges/NBIIL1997.txt
Bridges/NBIIL1998.txt
Bridges/NBIIL1999.txt
Bridges/NBIIL2000.txt
Bridges/NBIIL2001.txt
Bridges/NBIIL2002.txt
